<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.carnivalmobile.carnivalcordovaplugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>
	<name>CarnivalCordovaPlugin</name>
	<license>Please refer to our privacy policy and terms of service at http://carnivalmobile.com</license>
	
	<platform name="ios">
		<js-module src="CarnivalCordovaPlugin/iOS/carnival.js" name="Carnival">
			<clobbers target="Carnival" />
		</js-module>	
		
		<config-file parent="/*" target="config.xml">
			<feature name="CarnivalCordovaPlugin">
				<param name="ios-package" value="CarnivalCordovaPlugin"/>
			</feature>
		</config-file>

		<header-file src="CarnivalCordovaPlugin/iOS/CarnivalCordovaPlugin.h"/>
		<source-file src="CarnivalCordovaPlugin/iOS/CarnivalCordovaPlugin.m"/>
		<source-file src="CarnivalCordovaPlugin/iOS/Carnival.embeddedframework"/>

		<framework src="CoreLocation.framework" />
		<framework src="CoreGraphics.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="libz.dylib" />
		<framework src="MediaPlayer.framework" />
		<framework src="AVFoundation.framework" />
		<framework src="CarnivalCordovaPlugin/iOS/Carnival.embeddedframework/Carnival.framework" />
	</platform>
	<info>

	CarnivalCordovaPlugin.

	Installation

	iOS

	1. Drag the Carnival.embeddedframework into your Xcode project.
	2. Add a preference to your config.xml file for the 'carnival_ios_app_key' with your Carnival iOS App key

	</info>
</plugin>