<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.carnivalmobile.carnivalcordovaplugin" version="4.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>carnival-cordova-plugin</name>
	<description>Carnival SDK for Cordova-based Applications</description>

	<license>Please refer to our privacy policy and terms of service at http://carnival.io</license>

	<platform name="android">

		<framework src="CarnivalCordovaPlugin/android/carnival.gradle" custom="true" type="gradleReference" />
		<hook type="after_plugin_add" src="scripts/manifest_add.js" />
		<hook type="after_plugin_rm" src="scripts/manifest_remove.js" />
		<js-module src="CarnivalCordovaPlugin/carnival.js" name="Carnival">
			<clobbers target="Carnival" />
		</js-module>

		<source-file src="CarnivalCordovaPlugin/android/CarnivalCordovaPlugin.java" target-dir="src/com/carnivalmobile/carnivalcordovaplugin" />
		<source-file src="CarnivalCordovaPlugin/android/CarnivalApplication.java" target-dir="src/com/carnivalmobile/carnivalcordovaplugin" />
		<config-file target="res/xml/config.xml" parent="/widget">
			<feature name="CarnivalCordovaPlugin">
				<param name="android-package" value="com.carnivalmobile.carnivalcordovaplugin.CarnivalCordovaPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WAKE_LOCK" />
			<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
			<uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
			<permission
                android:name="${applicationId}.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">

	        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

	        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

		</config-file>

	</platform>

	<platform name="ios">
		<js-module src="CarnivalCordovaPlugin/carnival.js" name="Carnival">
			<clobbers target="Carnival" />
		</js-module>

		<config-file parent="/*" target="config.xml">
			<feature name="CarnivalCordovaPlugin">
				<param name="ios-package" value="CarnivalCordovaPlugin"/>
			</feature>
		</config-file>

		<framework src="Carnival" type="podspec" spec="6.1.0" />

		<header-file src="CarnivalCordovaPlugin/iOS/CarnivalCordovaPlugin.h"/>
		<source-file src="CarnivalCordovaPlugin/iOS/CarnivalCordovaPlugin.m"/>
	</platform>

	<info>

	CarnivalCordovaPlugin.

	Installation

	iOS

	1. Add a preference to your config.xml file for the 'carnival_ios_app_key' with your Carnival iOS App key

	</info>
</plugin>
